<div class="h-100 w-100">
    <div class="toolbar d-flex mb-3">
        <div class="col d-flex align-items-center">
            <button nbButton ghost status="primary" shape="round" class="me-2"
                [nbTooltip]="getString('newCalculation')">
                <nb-icon pack="eva" icon="plus-outline"></nb-icon>
            </button>
            <button nbButton ghost status="primary" shape="round" class="me-2"
                [nbTooltip]="getString('recalculateSelected')">
                <nb-icon pack="eva" icon="flip-2-outline"></nb-icon>
            </button>
            <button nbButton ghost shape="round" status="primary" class="me-2" (click)="markRealPriceClick()"
                [nbTooltip]="getString('markRealPrice')">
                <nb-icon pack="eva" icon="checkmark-square-2-outline"></nb-icon>
            </button>
            <button nbButton ghost shape="round" status="primary" class="me-2" (click)="markPaidPriceClick()"
                [nbTooltip]="getString('markPaidPrice')">
                <nb-icon pack="eva" icon="checkmark-square-outline"></nb-icon>
            </button>
            <button nbButton ghost shape="round" status="primary" [nbTooltip]="getString('cancelSelected')"
                (click)="cancelCalculationClick()">
                <nb-icon pack="eva" icon="close-square-outline"></nb-icon>
            </button>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col ps-0">
                    <div class="top-card">
                        <div class="price w-100 d-flex justify-content-center align-items-center">
                            {{summary?.TotalCalculatedPrice}} <span *ngIf="!summary?.TotalCalculatedPrice">0 </span> KM
                        </div>
                        <div class="label w-100 d-flex justify-content-center align-items-center">
                            {{getString('calculatedSum')}}
                        </div>
                    </div>
                </div>
                <div class="col ps-1 pe-1">
                    <div class="top-card">
                        <div class="price w-100 d-flex justify-content-center align-items-center">
                            {{summary?.TotalRealPrice}} <span *ngIf="!summary?.TotalRealPrice">0 </span> KM
                        </div>
                        <div class="label w-100 d-flex justify-content-center align-items-center">
                            {{getString('calculatedSumReal')}}
                        </div>
                    </div>
                </div>
                <div class="col pe-0">
                    <div class="top-card">
                        <div class="price w-100 d-flex justify-content-center align-items-center">
                            {{summary?.TotalPaidPrice}} <span *ngIf="!summary?.TotalPaidPrice">0 </span> KM
                        </div>
                        <div class="label w-100 d-flex justify-content-center align-items-center">
                            {{getString('calculatedSumPaid')}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 700px;">
        <ngx-smart-table [columns]="columns" [(data)]="calculations" [addEnabled]="false" [loadingEnabled]="false"
            [editEnabled]="false" [deleteEnabled]="false" [selectionEnabled]="true" [selectRowByClick]="true"
            [selctionModeMultiple]=" true" (buttonItemClicked)="onButtonItemClicked($event)"
            [defaultPerPageOption]="10"></ngx-smart-table>
    </div>
</div>