<nb-card class="h-100">
  <nb-card-header>
    <div class="d-flex align-items-center gap-2">
      <nb-icon pack="eva" icon="pricetags-outline" class="page-header-icon"></nb-icon>
      <div>
        <div class="page-header-title">{{ getString("discounts") }}</div>
        <div class="page-header-subtitle">{{ getString("discountsSubtitle") }}</div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="h-100">
      <ngx-grid
        [columns]="discountsColumns"
        [(data)]="discountsData"
        gridMode="external"
        [exportSettings]="exportSettings"
        (createStarted)="onCreateStarted()"
        [editEnabled]="false"
        [selectionEnabled]="false"
        (deleteStarted)="onDeleteStarted($event)"
        [loadingEnabled]="false"
        [defaultPerPageOption]="20"
      ></ngx-grid>
    </div>
  </nb-card-body>
</nb-card>
