<nb-card size="giant">
    <nb-card-header>File card</nb-card-header>
    <nb-card-body>
        <nb-tabset>
            <nb-tab tabTitle="Primjeri">
                <div class="row">
                    <div class="col-md-2">
                        <ngx-file-card [fileData]="fileData" (fileMenuItemClick)="onMenuClick($event)"></ngx-file-card>
                    </div>
                    <div style="width: 185px;">
                        <ngx-file-card [fileData]="fileData" (fileMenuItemClick)="onMenuClick($event)"
                            [mode]="'small-card'"></ngx-file-card>
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <ngx-file-card [fileData]="fileData" (fileMenuItemClick)="onMenuClick($event)" [mode]="'table'"
                        [custumFileActions]="customFileOptions">
                    </ngx-file-card>
                </div>
                <div class="col-md-8">
                    <ngx-file-card [fileData]="fileData2" (fileMenuItemClick)="onMenuClick($event)" [mode]="'row'">
                    </ngx-file-card>
                </div>
            </nb-tab>
            <nb-tab tabTitle="Inputi">
                <sample-inputs [items]="inputItems"></sample-inputs>
            </nb-tab>
            <nb-tab tabTitle="Outputi">
                <sample-inputs [items]="outputItems"></sample-inputs>
            </nb-tab>
            <nb-tab tabTitle="Metode">
                <sample-inputs [items]="methodsItems"></sample-inputs>
            </nb-tab>
            <nb-tab tabTitle="Posebni tipovi">
                <nb-list>
                    <nb-list-item class="d-block">
                        <a href="https://akveo.github.io/nebular/docs/components/menu/api#nbmenucomponent"
                            target="_blank">NbMenuItem</a>
                        <div class="mt-3 mb-3">
                            Unutar data atributa u output eventu šalju se podaci u obliku: </div>
                        <pre>
                        <code class="language-javascript">
                        {{ '{' }}
                            code:string,
                            file:FileData
                        {{ '}' }}
                    </code>
                    </pre>
                    </nb-list-item>
                    <nb-list-item>
                        <pre>
                            <code>
                                export enum FILE_CARD_MODE {{ '{' }}
                                    CARD = "card",
                                    SMALL_CARD = "small-card",
                                    TABLE = "table",
                                    ROW = "row"
                                {{ '}' }}
                            </code>
                        </pre>
                    </nb-list-item>
                    <nb-list-item>
                        <pre>
                            <code>
                                export interface FileData {{ '{' }}
                                id: string;
                                filename: string;
                                extension: string;
                                size?: number;
                                sizeUnit?: string;
                                author?: string;
                                createdDate?: string;
                                fileBytes?: string;
                                {{ '}' }}
                            </code>
                        </pre>
                    </nb-list-item>
                </nb-list>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
</nb-card>