@import "../../../@theme/styles/themes.scss";

@include nb-install-component {
  .basic-tile-card {
    height: 700px;

    .colors-container {
      display: flex;
      gap: 0.5rem;

      .color {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
      }

      .color:hover {
        cursor: pointer;
      }

      .color.selected {
        border: 5px solid nb-theme(color-primary-500);
      }

      .color.success {
        background-color: nb-theme(color-success-500);
      }

      .color.info {
        background-color: nb-theme(color-info-500);
      }

      .color.danger {
        background-color: nb-theme(color-danger-500);
      }

      .color.primary {
        background-color: nb-theme(color-primary-500);
      }

      .color.warning {
        background-color: nb-theme(color-warning-500);
      }
    }
  }
}
