@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/globals';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();

  .grey-card {
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: nb-theme(color-basic-200);
  }

  ::-webkit-scrollbar {
    width: nb-theme(scrollbar-width);
    height: nb-theme(scrollbar-width);
  }

  ::-webkit-scrollbar-thumb {
    background: nb-theme(scrollbar-color);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: nb-theme(color-basic-500);
  }

  .title-container-person {

    .window-title-person {
      font-size: 14px;
      color: nb-theme(input-basic-placeholder-text-color);
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    .title-id {
      font-size: 14px;
      color: nb-theme(input-basic-placeholder-text-color);
    }
  }

  .title-container-person-details {
    margin-top: 0.5rem;

    .window-title-person {
      font-size: 24px;
      font-weight: 600;
      margin-right: 0.5rem;
    }

    .title-id {
      font-size: 24px;
      color: nb-theme(input-basic-placeholder-text-color);
    }
  }

  .line-divider {
    border-bottom: nb-theme(card-divider-width) nb-theme(card-divider-style) nb-theme(card-divider-color);
    width: 100%;
    height: max-content;
  }
}

.row {
  margin: 0;
}

nb-tag.appearance-filled.status-basic.selected {
  background-color: nb-theme(tag-filled-basic-background-color);
  border-color: nb-theme(tag-filled-basic-border-color);
  color: nb-theme(tag-filled-basic-text-color);
}

nb-tag.appearance-filled.status-primary.selected {
  background-color: nb-theme(tag-filled-primary-background-color);
  border-color: nb-theme(tag-filled-primary-border-color);
  color: nb-theme(tag-filled-primary-text-color);
}

nb-tag.appearance-filled.status-danger.selected {
  background-color: nb-theme(tag-filled-danger-background-color);
  border-color: nb-theme(tag-filled-danger-border-color);
  color: nb-theme(tag-filled-danger-text-color);
}

nb-tag.appearance-filled.status-info.selected {
  background-color: nb-theme(tag-filled-info-background-color);
  border-color: nb-theme(tag-filled-info-border-color);
  color: nb-theme(tag-filled-info-text-color);
}

nb-tag.appearance-filled.status-success.selected {
  background-color: nb-theme(tag-filled-success-background-color);
  border-color: nb-theme(tag-filled-success-border-color);
  color: nb-theme(tag-filled-success-text-color);
}

nb-tag.appearance-filled.status-warning.selected {
  background-color: nb-theme(tag-filled-warning-background-color);
  border-color: nb-theme(tag-filled-warning-border-color);
  color: nb-theme(tag-filled-warning-text-color);
}

nb-tag.appearance-outline.status-basic.selected {
  background-color: nb-theme(tag-outline-basic-background-color);
  border-color: nb-theme(tag-outline-basic-border-color);
  color: nb-theme(tag-outline-basic-text-color);
}

nb-tag.appearance-outline.status-primary.selected {
  background-color: nb-theme(tag-outline-primary-background-color);
  border-color: nb-theme(tag-outline-primary-border-color);
  color: nb-theme(tag-outline-primary-text-color);
}

nb-tag.appearance-outline.status-danger.selected {
  background-color: nb-theme(tag-outline-danger-background-color);
  border-color: nb-theme(tag-outline-danger-border-color);
  color: nb-theme(tag-outline-danger-text-color);
}

nb-tag.appearance-outline.status-info.selected {
  background-color: nb-theme(tag-outline-info-background-color);
  border-color: nb-theme(tag-outline-info-border-color);
  color: nb-theme(tag-outline-info-text-color);
}

nb-tag.appearance-outline.status-success.selected {
  background-color: nb-theme(tag-outline-success-background-color);
  border-color: nb-theme(tag-outline-success-border-color);
  color: nb-theme(tag-outline-success-text-color);
}

nb-tag.appearance-outline.status-warning.selected {
  background-color: nb-theme(tag-outline-warning-background-color);
  border-color: nb-theme(tag-outline-warning-border-color);
  color: nb-theme(tag-outline-warning-text-color);
}

.card-value {
  font-weight: 600;
}

.form-group .label {
  margin-bottom: 0.5rem;
}

nb-select.appearance-outline.status-basic .select-button.placeholder {
  opacity: unset;
}

.required-mark {
  font-size: 16px;
}