<div class="main-content">
  <div class="statuses-container">
    <div class="status-card" *ngFor="let status of statuses">
      <nb-badge
        [status]="status.Color"
        [dotMode]="true"
        position="top left"
      ></nb-badge>
      <span class="status-name">{{ status.Name }}</span>
      <div class="status-card-info">
        <div class="status-icon">
          <nb-icon [status]="status.Color" [icon]="status.Icon"></nb-icon>
        </div>
        <span class="furniture-count">{{ status.Furniture }}</span>
      </div>
    </div>
  </div>
  <div class="furniture-container">
    <nb-card class="h-100 m-0">
      <nb-card-body>
        <ngx-grid
          [columns]="columns"
          [(data)]="furniture"
          [selectionEnabled]="false"
          [editEnabled]="false"
          [deleteEnabled]="false"
          [defaultPerPageOption]="10"
          gridMode="popup"
          (createConfirm)="createConfirm($event)"
          (editConfirm)="editConfirm($event)"
          (deleteConfirm)="deleteConfirm($event)"
          (actionBtnClick)="onButtonItemClicked($event)"
          [exportSettings]="exportSettings"
          [exportPdfTooltip]="getString('exportPdfTooltip')"
          [exportExcelTooltip]="getString('exportExcelTooltip')"
          [entriesPerPageTooltip]="getString('entriesPerPageTooltip')"
          [refreshTooltip]="getString('refreshTooltip')"
          [addTooltip]="getString('addTooltip')"
        ></ngx-grid>
      </nb-card-body>
    </nb-card>
  </div>
</div>
