@import "../../@theme/styles/themes.scss";

::ng-deep sample-furniture {
  height: 100%;
}

.main-content {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.furniture-container {
  flex: 1 1 auto;
  margin-top: 0.5rem;
  overflow: auto;
}

@include nb-install-component {
  .statuses-container {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    flex: 0 1 100px;

    .status-card {
      position: relative;
      background-color: nb-theme(card-background-color);
      width: 150px;
      padding: 0.5rem;
      display: flex;
      flex-flow: column;

      .status-card-info {
        margin-top: 0.5rem;
        display: flex;
        width: 100%;
        gap: 0.5rem;
      }

      nb-badge {
        top: 0.8rem;
        left: 0.5rem;
      }

      .status-name {
        width: 100%;
        font-weight: 600;
        padding-left: 1rem;
      }

      .status-icon {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        nb-icon {
          font-size: 35px;
        }
      }

      .furniture-count {
        width: 50%;
        font-weight: 600;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }
}
