.discount-picker-card {
  border-radius: 1rem;
  width: 1300px;
  height: 800px;

  nb-card-header {
    padding: 1rem;
    padding-bottom: 0.5rem;

    .col {
      font-size: 20px;

      .label {
        font-size: 20px;
        padding: 0;
      }
    }
  }
}
