@import "../../../@theme/styles/themes";

@include nb-install-component {
  .dashboard-container {
    overflow: auto;

    .events-card {
      background-color: nb-theme(background-basic-color-2);
      height: 100%;
      padding: 2rem;
      position: relative;

      ngx-tag {
        position: absolute;
        right: 0;
        top: 2.2rem;
      }

      .events-container {
        display: flex;
        flex-flow: column;
        height: 70%;
        overflow: auto;
        margin-top: 2rem;
      }

      .event:hover {
        cursor: pointer;
      }

      .event {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 1rem 0;
        border-bottom: 2px solid nb-theme(card-divider-color);

        nb-icon {
          font-size: 24px;
        }

        .event-name {
          font-weight: 600;
        }
      }

      .total-summary-container {
        border-bottom: 2px solid nb-theme(card-divider-color);
        padding-bottom: 1rem;

        .summary {
          margin-top: 0.5rem;
          display: flex;
          gap: 0.5rem;
          padding: 0 1rem 0 0;

          .card-value {
            font-size: 26px;
          }

          .label {
            font-weight: 500;
            text-wrap: balance;
            height: 100%;
            display: flex;
            align-items: flex-end;
          }
        }
      }
    }

    .dashboard-title {
      font-size: 24px;
      font-weight: 800;
    }

    .dashboard-subtitle {
      font-size: 14px;
    }

    .summary-container {
      display: flex;
      flex-flow: column;
      gap: 1rem;
      margin-top: 0.5rem;
      padding-left: 0;
      margin-bottom: 0.5rem;

      .summary-card {
        background-color: nb-theme(card-background-color);
        padding: 2.5rem 1rem;

        .label {
          font-size: 14px;
          font-weight: 600;
        }

        .card-value {
          font-size: 30px;
          margin-top: 1rem;
          font-weight: 800;
        }
      }

      .summary-card.danger {
        background-color: nb-theme(color-danger-transparent-300);
      }

      .summary-card.success {
        background-color: nb-theme(color-success-transparent-300);
      }
    }

    .person-card {
      background-color: nb-theme(card-background-color);
      padding: 0 1rem 1rem 1rem;
      border: nb-theme(card-border-width) solid nb-theme(card-border-color);
      margin-top: 0.5rem;

      .person-info {
        display: flex;
        flex-flow: column;
        justify-content: center;
      }

      .gender-box {
        background-color: nb-theme(color-success-500);
        width: 20%;
        margin-right: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        padding: 1rem 0.5rem;

        i {
          color: nb-theme(card-background-color);
        }
      }

      .divider {
        background-color: nb-theme(card-divider-color);
        height: 3px;
        width: 100%;
        border-radius: 1rem;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}
