<div class="header-container w-100">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo">
      <img
        src="../../../../assets/images/logo.png"
        height="40px"
        width="auto"
      />
    </a>
  </div>
  <div class="col d-flex justify-content-center align-items-center">
    <nb-form-field style="width: 30%">
      <nb-icon
        nbPrefix
        pack="eva"
        icon="search-outline"
        status="primary"
      ></nb-icon>
      <input
        nbInput
        fullWidth
        autocomplete="off"
        shape="round"
        fieldSize="small"
        [placeholder]="getString('searchPersons')"
        name="search"
        [(ngModel)]="searchTerm"
        (keypress)="onSerachKeyPress($event)"
      />
    </nb-form-field>
  </div>
  <div class="w-max d-flex justify-content-end">
    <button
      nbButton
      ghost
      shape="round"
      [nbPopover]="notificationsPopup"
      nbPopoverTrigger="click"
      class="me-2"
      nbPopoverPlacement="bottom"
      style="position: relative"
    >
      <nb-icon pack="eva" icon="bell-outline" class="m-0"></nb-icon>
      <nb-badge
        *ngIf="hasNotifications"
        status="danger"
        position="top right"
        style="top: 5px; right: 5px"
        [dotMode]="true"
      ></nb-badge>
    </button>
    <nb-user
      class="ms-2 ngx-user-picture"
      [nbPopover]="userPopup"
      nbPopoverTrigger="click"
      nbPopoverPlacement="bottom"
      [name]="user?.FirstName + ' ' + user?.LastName"
    >
    </nb-user>
  </div>
</div>

<ng-template #notificationsPopup>
  <sample-notifications-pane
    (closeClick)="onNotificationPaneClose()"
    (destroy)="onNotificationsDestroy($event)"
  ></sample-notifications-pane>
</ng-template>

<ng-template #userPopup>
  <sample-user-info-pane
    (closeClick)="onNotificationPaneClose()"
  ></sample-user-info-pane>
</ng-template>
