@import "../../@theme/styles/themes.scss";

.profile-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

@include nb-install-component {
  table thead th {
    color: nb-theme(color-basic-600);
    font-size: 14px;
  }

  table tbody tr td {
    font-weight: 600;
    font-size: 16px;
  }

  .top-panel {
    flex: 0 1 240px;
    max-height: 140px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    transition: flex 0.5s ease;
    overflow: hidden;

    #toggle-btn {
      position: absolute;
      z-index: 100;
      bottom: 5px;
      left: 47%;
    }

    #toggle-btn:focus {
      box-shadow: none;
      border: none;
    }
  }

  .top-panel.collapsed {
    flex: 0 1 45px;

    #toggle-btn {
      bottom: 0;
    }

    #top-panel-card {
      display: none;
    }
  }

  .top-panel.expanded {
    #top-panel-card {
      display: block;
    }

    nb-card.grey-card {
      width: 93%;
      position: relative;
    }

    .menu-container {
      position: relative;

      .menu-line {
        width: 5px;
        height: calc(100% + 3.5rem);
        background-color: nb-theme(layout-background-color);
        position: absolute;
        top: -1rem;
        left: 0;
      }

      nb-tag:hover {
        cursor: pointer;
      }
    }
  }

  .profile-content {
    flex: 1 1 auto;
    margin-top: 0.5rem;
    overflow: auto;
  }

  .circle.grey-card {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: -5rem;
    top: 0.5rem;
    border: 1px solid nb-theme(color-basic-300);
    display: flex;
    justify-content: center;
    align-items: center;

    nb-icon {
      font-size: 2rem;
    }
  }
}

nb-alert {
  margin: 0;
}

nb-alert nb-list-item {
  padding: 0.2rem !important;
}

nb-alert nb-icon:first-child {
  font-size: 45px;
}

::ng-deep nb-alert button.close {
  right: 1rem !important;
  top: 1rem !important;
}
