.person-card:hover {
  cursor: pointer;
}

::ng-deep sample-employees {
  height: 100%;
  overflow: hidden;
}

.content-container {
  height: calc(100% - 2.1rem);
}

#cards {
  height: calc(100% - 5rem);
  overflow: auto;
}
