<nb-card class="basic-tile-card skinny">
  <nb-card-header class="d-flex">
    <div class="col">
      <div class="row m-0 p-0 align-items-center">
        <nb-icon pack="eva" icon="swap-outline" class="w-max"></nb-icon>
        {{ getString("statusChange") }}<br />
      </div>
      <div class="row m-0 p-0">
        <span class="label mt-1">
          <ngx-tag
            [color]="rowData.StatusColor"
            [text]="rowData.LatestStatusName"
            [appearance]="'filled'"
            shape="round"
            [isEvaIcon]="true"
            [icon]="rowData.StatusIcon"
          ></ngx-tag>
        </span>
      </div>
    </div>
    <div class="w-max">
      <button nbButton ghost shape="round" (click)="close(false)">
        <nb-icon pack="eva" icon="close-outline"></nb-icon>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form #event="ngForm">
      <div class="row mb-2">
        <div class="col-md-6 p-0">
          <div class="form-group">
            <div class="label">{{ getString("newStatusDate") }}</div>
            <div class="value">
              <nb-form-field>
                <input
                  disabled
                  nbInput
                  #DateInput
                  [placeholder]="getString('statusDate')"
                  fullWidth
                  autocomplete="off"
                  name="statusDate"
                  [(ngModel)]="statusDate"
                  [nbDatepicker]="DateDatepicker"
                />
                <nb-datepicker #DateDatepicker></nb-datepicker>
                <button nbButton nbSuffix ghost (click)="DateInput.focus()">
                  <nb-icon pack="eva" icon="calendar-outline"></nb-icon>
                </button>
              </nb-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-md-12 p-0">
          <div class="form-group">
            <div class="label">
              {{ getString("newStatus")
              }}<nb-icon
                pack="eva"
                icon="alert-circle-outline"
                status="danger"
                size="small"
                class="ms-1 required-mark"
                [nbTooltip]="getString('required')"
              ></nb-icon>
            </div>
            <div class="value">
              <nb-select
                [(selected)]="status"
                fullWidth
                [placeholder]="getString('select')"
              >
                <nb-option *ngFor="let s of statuses" [value]="s.Id">{{
                  s.Name
                }}</nb-option>
              </nb-select>
            </div>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer class="d-flex justify-content-end">
    <button
      nbButton
      ghost
      shape="round"
      size="small"
      class="me-2"
      (click)="close(false)"
    >
      {{ getString("cancel") }}
    </button>
    <button
      nbButton
      status="primary"
      shape="round"
      size="small"
      [disabled]="!status"
      (click)="changeStatusClick()"
    >
      {{ getString("save") }}
    </button>
  </nb-card-footer>
</nb-card>
