<nb-card class="h-100">
  <nb-card-header>
    <div class="d-flex align-items-center gap-2">
      <nb-icon pack="eva" icon="settings-outline" class="page-header-icon"></nb-icon>
      <div>
        <div class="page-header-title">{{ getString("servicesSingle") }}</div>
        <div class="page-header-subtitle">{{ getString("servicesSubtitle") }}</div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="h-100">
      <ngx-grid
        [columns]="servicesColumns"
        [(data)]="servicesData"
        gridMode="external"
        [exportSettings]="exportSettings"
        [selectionEnabled]="false"
        (createStarted)="onCreateStarted()"
        (editStarted)="onEditStarted($event)"
        (deleteStarted)="onDeleteStarted($event)"
        [defaultPerPageOption]="20"
      ></ngx-grid>
    </div>
  </nb-card-body>
</nb-card>
