@import "../../../@theme/styles/themes.scss";

@include nb-install-component {
    .discount-picker-card {
        border-radius: 1rem;
        width: 800px;
        height: 500px;

        nb-card-header {
            padding: 1rem;
            padding-bottom: 0.5rem;

            .col {
                font-size: 20px;
            }

            .discounts-selected {
                font-size: 12px;
                color: nb-theme(color-basic-600);
                font-weight: 600;
                margin-right: 0.5rem;
            }
        }

        .discount-card {
            border-radius: 0.5rem;
            border: 1px solid nb-theme(color-basic-500);
            background-color: nb-theme(color-basic-200);
            padding: 0.5rem;

            .name {
                font-weight: 600;
                font-size: 16px;
                color: nb-theme(color-basic-600);
            }

            .name-subtitle {
                font-size: 12px;
                color: nb-theme(color-basic-700);
                font-weight: 600;
            }
        }

        .discount-card:hover {
            cursor: pointer;
        }

        .discount-card.selected {
            border-color: nb-theme(color-primary-500);
            background-color: nb-theme(color-primary-transparent-200);

            .name {
                color: nb-theme(color-primary-500);
            }
        }
    }
}