@import "../../@theme/styles/themes.scss";

::ng-deep sample-doctor-visit-tour {
    height: 100%;
}

.note-container {
    overflow: hidden;
    height: calc(100% - 48px);
}

@include nb-install-component {

    .person-card {
        background-color: nb-theme(color-basic-300);
    }

    .person-card:hover {
        cursor: pointer;
    }

    .person-icon {
        font-size: 17px;
    }
}