@import "../../@theme/styles/themes.scss";

.note-container {
  overflow: hidden;
  height: calc(100% - 48px);
}

@include nb-install-component {
  .person-card {
    background-color: nb-theme(color-basic-300);
  }

  .person-card:hover {
    cursor: pointer;
  }

  .person-icon {
    font-size: 17px;
  }

  .persons-container {
    height: calc(100% - 3rem);
    overflow: auto;
    margin-bottom: 0.5rem;
  }
}
