<div class="person-details-body d-flex h-100 w-100">
    <div class="col-md-8 left-content">
        <div class="group-title">
            Osnovni podaci
            <div class="line"></div>
        </div>
        <div class="row form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="label">Ime</div>
                    <div class="value"><input nbInput fullWidth></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="label">Prezime</div>
                    <div class="value"><input nbInput fullWidth></div>
                </div>
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="label">JMBG</div>
                    <div class="value"><input nbInput fullWidth></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="label">Datum rođenja</div>
                    <div class="value">
                        <nb-form-field>
                            <input nbInput fullWidth>
                            <button nbButton nbSuffix ghost>
                                <nb-icon pack="eva" icon="calendar-outline"></nb-icon>
                            </button>
                        </nb-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-title mt-3">
            Podaci o boravku
            <div class="line"></div>
        </div>
        <div class="row form-row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="label">Datum dolaska</div>
                    <div class="value">
                        <nb-form-field>
                            <input nbInput fullWidth>
                            <button nbButton nbSuffix ghost>
                                <nb-icon pack="eva" icon="calendar-outline"></nb-icon>
                            </button>
                        </nb-form-field>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="label">Datum odlaska</div>
                    <div class="value">
                        <nb-form-field>
                            <input nbInput fullWidth>
                            <button nbButton nbSuffix ghost>
                                <nb-icon pack="eva" icon="calendar-outline"></nb-icon>
                            </button>
                        </nb-form-field>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="label">Datum unosa</div>
                    <div class="value">
                        <nb-form-field>
                            <input nbInput fullWidth>
                            <button nbButton nbSuffix ghost>
                                <nb-icon pack="eva" icon="calendar-outline"></nb-icon>
                            </button>
                        </nb-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-12">
                <div class="label">Trenutni status osobe
                    <button nbButton ghost status="info" class="mb-2" size="small" shape="round" nbPopover="Click Mode"
                        nbPopoverTrigger="click" nbPopoverPlacement="right">
                        <nb-icon pack="eva" icon="info-outline"></nb-icon>
                    </button>
                </div>
                <div class="value">
                    <nb-tag appearance="outline" [status]="person.Active ? 'success' : 'danger'"
                        [text]="person.Active ? 'Aktivan':'Neaktivan'" size="small"
                        [nbTooltip]="person.Active ? 'Osoba je trenutno smještena u ustanovi' : 'Osoba je bila smještena u ustanovi, ali je njen boravak završio'"></nb-tag>
                    <button *ngIf="person.Active" nbButton status="danger" shape="round" size="small" class="ms-3" ghost
                        [nbTooltip]="'Deaktiviraj osobu'">
                        <nb-icon pack="eva" icon="lock-outline"></nb-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="group-title mt-3">
            Podaci o smještaju
            <div class="line"></div>
        </div>
        <div class="row form-row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="label">Kat na kojemu je osoba trenutno smeštena</div>
                    <div class="value"><input nbInput fullWidth></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="label">Soba</div>
                    <div class="value"><input nbInput fullWidth></div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="label">&nbsp;</div>
                <div class="value">
                    <button nbButton ghost status="primary" shape="round" class="mt-2"
                        [nbTooltip]="'Idi na vanjsko upravljanje smještajem'">
                        <nb-icon pack="eva" icon="external-link-outline"></nb-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="row form-row external-details">
            <button nbButton ghost status="primary" shape="round">
                Idi na napredno uređivanje
                <nb-icon pack="eva" icon="external-link-outline" nbSuffix></nb-icon>
            </button>
        </div>
        <div class="left-content-footer d-flex justify-content-end">
            <button nbButton status="basic" size="small" ghost shape="round" class="me-2">Odustani</button>
            <button nbButton status="primary" size="small" shape="round">Spremi</button>
        </div>
    </div>
    <div class="col-md-4 ">

    </div>
</div>

<ng-template #headerTemplate>
    <div class="d-flex title-container-person">
        <nb-icon pack="eva" icon="person-outline" status="basic"></nb-icon>
        <div class="window-title-person">Podaci o osobi</div>
        <div class="title-id">#{{personId}}</div>
    </div>
    <div class="d-flex title-container-person-details">
        <div class="window-title-person">{{person.FirstName}} {{person.LastName}}</div>
        <div class="title-id">#{{personId}}</div>
    </div>
    <div class="d-flex mt-2">
        <nb-tag [status]="person.Active ? 'success' : 'danger'" [text]="person.Active ? 'Aktivan':'Neaktivan'"
            size="small"></nb-tag>
    </div>
</ng-template>