@import "../../../@theme/styles/themes.scss";

@include nb-install-component {
  .top-card {
    background-color: nb-theme(color-primary-transparent-200);
    height: 70px;
    padding-top: 0.6rem;

    .price {
      font-weight: 600;
      font-size: 16px;
      margin-top: 0.5rem;
    }
  }
}

.grid-container {
  height: calc(100% - 5rem);
}

.employee-view {
  height: 100%;
  width: 100%;
  margin: 0;
}

.admin-view {
  border: none;
  height: 100%;
  width: 100%;
  margin: 0;

  nb-card-body {
    padding: 0;
    overflow: visible;
  }
}
