<nb-layout windowMode>
  <nb-layout-header fixed>
    <ngx-header></ngx-header>
  </nb-layout-header>

  <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
    <div class="sidebar-brand">
      <img src="../../../../assets/images/logo.png" class="sidebar-logo" />
      <span class="sidebar-brand-name" *ngIf="showItems">Nursing app</span>
    </div>

    <button
      nbButton
      id="menu-sidebar-toggle-btn"
      shape="round"
      size="small"
      ghost
      status="primary"
      [nbTooltip]="showItems ? getString('closeSidebar') : getString('openSidebar')"
      (click)="toggleSidebar()"
    >
      <nb-icon pack="eva" [icon]="showItems ? 'chevron-left-outline' : 'chevron-right-outline'"></nb-icon>
    </button>

    <div class="sidebar-search">
      <button *ngIf="!showItems" nbButton shape="round" size="small" status="basic" (click)="toggleSidebar()">
        <nb-icon pack="eva" icon="search-outline" status="primary"></nb-icon>
      </button>
      <nb-form-field *ngIf="showItems">
        <nb-icon nbPrefix pack="eva" icon="search-outline" status="primary"></nb-icon>
        <input
          nbInput fullWidth shape="round" autocomplete="off" fieldSize="small"
          [placeholder]="getString('search')"
          name="search"
          [(ngModel)]="searchTerm"
          (keypress)="onSerachKeyPress($event)"
        />
      </nb-form-field>
    </div>

    <ng-content select="nb-menu"></ng-content>
  </nb-sidebar>

  <nb-layout-column class="nb-layout-column">
    <ngx-breadcrumb></ngx-breadcrumb>
    <ng-content select="router-outlet"></ng-content>
  </nb-layout-column>
</nb-layout>
