<button
  *ngIf="checkUserHasAdminRole()"
  nbButton
  ghost
  status="primary"
  shape="round"
  size="small"
  id="add-existing-user-btn"
  (click)="addExistingUser()"
>
  {{ getString("addExistingUser") }}
</button>
<ngx-grid
  [(data)]="contactsData"
  [columns]="contactsColumns"
  (editConfirm)="contactsEdit($event)"
  (deleteConfirm)="contactsDelete($event)"
  [exportExcelEnabled]="true"
  [(exportSettings)]="exportSettings"
  [defaultPerPageOption]="10"
  [exportPdfEnabled]="true"
  [pagerEnabled]="true"
  [entriesPerPageEnabled]="true"
  [refreshEnabled]="true"
  [deleteEnabled]="checkUserHasAdminRole()"
  [addEnabled]="checkUserHasPermission()"
  [editEnabled]="checkUserHasPermission()"
  [gridMode]="gridMode"
  [selectionEnabled]="false"
  (createConfirm)="onCreateConfirm($event)"
  (actionBtnClick)="onActionBtnClick($event)"
></ngx-grid>
