@import "../../@theme/styles/themes.scss";

::ng-deep sample-profile {
  height: 100%;
}

.person-name {
  font-weight: 700;
  font-size: 20px;
}

.filter-toggle {
  position: absolute;
  top: 45%;
  left: -1.2rem;
  z-index: 600;
}

.sidepanel {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  height: 100%;
}

.profile-top-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
}

.grey-card nb-list {
  overflow-y: auto;
  overflow-x: hidden;

  nb-list-item button {
    width: 100%;
    white-space: normal;
    text-align: start;
    display: flex;
    justify-content: start;
  }
}

@include nb-install-component {
  .profile-top-container .grey-card {
    margin-top: 1.5rem;
    width: 100%;

    .card-label {
      color: nb-theme(color-primary-500);
      font-weight: 600;
      font-size: 14px;
    }

    .card-value {
      font-size: 18px;
      font-weight: 600;
      position: relative;
      height: 50%;

      span {
        font-size: 10px;
        margin-left: 0.25rem;
      }
    }

    nb-card-body {
      padding: 3rem 0.5rem 1rem 0.5rem;
    }
  }

  .person-icon {
    position: absolute;
    z-index: 200;
    width: 4rem;
    background-color: nb-theme(card-background-color);
    border-radius: 50%;
    box-shadow: nb-theme(sidebar-shadow);

    nb-icon {
      height: 4rem;
      font-size: 3rem;
    }
  }

  .person-jmbg {
    font-weight: 600;
    font-size: 14px;
    color: nb-theme(color-basic-600);
    margin-top: 0.25rem;
    margin-bottom: 1rem;
  }

  .dotted-line {
    border-bottom: 0.15rem dashed nb-theme(color-basic-500);
    position: absolute;
    top: 47.8%;
    width: 100%;
  }

  .dotted-arrow {
    color: nb-theme(color-basic-300);
    position: absolute;
    top: 44.3%;
    right: -19px;
    z-index: 1000;
    font-size: 48px;
  }

  table thead th {
    color: nb-theme(color-basic-600);
    font-size: 14px;
  }

  nb-alert {
    margin: 0;
  }

  nb-alert nb-list-item {
    padding: 0.2rem !important;
  }

  table tbody tr td {
    font-weight: 600;
    font-size: 16px;
  }

  nb-alert nb-icon:first-child {
    font-size: 45px;
  }

  ::ng-deep nb-alert button.close {
    right: 1rem !important;
    top: 1rem !important;
  }

  .bg-color-transparent {
    background-color: transparent;
    border: none;

    nb-card-body {
      padding: 0;
      overflow: hidden;
    }
  }
}

.history-btn {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  gap: 0.5rem;
}
