<div class="row m-0 h-100 w-100">
  <div class="col-md-10 ps-0 h-100">
    <nb-card class="h-100 m-0 calculation-card">
      <nb-card-header>
        {{ getString("calculationFor") }}
        <nb-select [(selected)]="month" (selectedChange)="refreshData()">
          <nb-option *ngFor="let m of months" [value]="m.key">{{
            m.name
          }}</nb-option>
        </nb-select>
        <nb-select [(selected)]="year" (selectedChange)="refreshData()">
          <nb-option *ngFor="let y of years" [value]="y">{{ y }}</nb-option>
        </nb-select>
      </nb-card-header>
      <nb-card-body>
        <div class="h-100">
          <ngx-grid
            [columns]="columns"
            [(data)]="calculations"
            [addEnabled]="false"
            [exportSettings]="exportSettings"
            [loadingEnabled]="false"
            [editEnabled]="false"
            [deleteEnabled]="false"
            [selectionEnabled]="true"
            [selectRowByClick]="true"
            [selectionMultiple]="true"
            (actionBtnClick)="onButtonItemClicked($event)"
            [defaultPerPageOption]="10"
            [selectAllEnabled]="true"
            [selectedRowsTitleEnabled]="false"
          ></ngx-grid>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-2 h-100 pe-0 ps-0 overflow-auto">
    <nb-card class="chart-card">
      <nb-card-header>
        {{ getString("actions") }}
      </nb-card-header>
      <nb-card-body>
        <button
          nbButton
          ghost
          shape="round"
          size="small"
          status="primary"
          (click)="newCalculationClick()"
          class="mb-2"
        >
          {{ getString("newCalculation") }}
        </button>
        <button
          nbButton
          ghost
          shape="round"
          size="small"
          (click)="recalculateSelectedClick()"
          status="primary"
        >
          {{ getString("recalculateSelected") }}
        </button>
        <hr />
        <button
          nbButton
          ghost
          shape="round"
          status="primary"
          class="me-2"
          (click)="markRealPriceClick()"
          [nbTooltip]="getString('markRealPrice')"
        >
          <nb-icon pack="eva" icon="checkmark-square-2-outline"></nb-icon>
        </button>
        <button
          nbButton
          ghost
          shape="round"
          status="primary"
          class="me-2"
          (click)="markPaidPriceClick()"
          [nbTooltip]="getString('markPaidPrice')"
        >
          <nb-icon pack="eva" icon="checkmark-square-outline"></nb-icon>
        </button>
        <button
          nbButton
          ghost
          shape="round"
          status="primary"
          [nbTooltip]="getString('cancelSelected')"
          (click)="cancelCalculationClick()"
        >
          <nb-icon pack="eva" icon="close-square-outline"></nb-icon>
        </button>
      </nb-card-body>
    </nb-card>
    <nb-card class="chart-card mt-2">
      <nb-card-body>
        <div
          class="row m-0 position-relative align-items-center"
          style="height: 100px"
        >
          <div class="info" style="width: 60%">
            <div class="value fw-600 d-flex justify-content-center">
              {{ summary?.CalculatedForPersons }} {{ getString("person") }}
            </div>
            <div class="details subtitle-2">
              <span>{{ getString("calculatedFrom") }}</span>
              {{ summary?.Persons }}
            </div>
          </div>
          <div echarts [options]="options" class="echart"></div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card class="chart-card mt-2">
      <nb-card-body>
        <div class="position-relative summary-card">
          <nb-badge
            [dotMode]="true"
            position="top end"
            [status]="
              summary?.TotalCalculatedPriceDiff
                ? summary?.TotalCalculatedPriceDiff?.startsWith('+')
                  ? 'success'
                  : 'danger'
                : 'basic'
            "
          ></nb-badge>
          <div class="fw-600 mb-1">{{ getString("calculatedSum") }}</div>
          <div class="fw-600 h6 m-0">
            {{ summary?.TotalCalculatedPrice }}
            <span *ngIf="!summary?.TotalCalculatedPrice">0</span> {{ "" | appCurrency }}
          </div>
          <div
            class="indicator"
            [ngClass]="
              summary?.TotalCalculatedPriceDiff
                ? summary?.TotalCalculatedPriceDiff?.startsWith('+')
                  ? 'success'
                  : 'danger'
                : 'basic'
            "
          >
            <nb-icon
              pack="eva"
              [status]="
                summary?.TotalCalculatedPriceDiff
                  ? summary?.TotalCalculatedPriceDiff?.startsWith('+')
                    ? 'success'
                    : 'danger'
                  : 'basic'
              "
              [icon]="
                summary?.TotalCalculatedPriceDiff
                  ? summary?.TotalCalculatedPriceDiff?.startsWith('+')
                    ? 'trending-up-outline'
                    : 'trending-down-outline'
                  : 'minus-outline'
              "
            ></nb-icon>
            {{ summary?.TotalCalculatedPriceDiff }}%
          </div>
        </div>
        <div class="position-relative summary-card">
          <nb-badge
            [dotMode]="true"
            position="top end"
            [status]="
              summary?.TotalRealPriceDiff
                ? summary?.TotalRealPriceDiff?.startsWith('+')
                  ? 'success'
                  : 'danger'
                : 'basic'
            "
          ></nb-badge>
          <div class="fw-600 mb-1">{{ getString("calculatedSumReal") }}</div>
          <div class="fw-600 h6 m-0">
            {{ summary?.TotalRealPrice
            }}<span *ngIf="!summary?.TotalRealPrice">0</span> {{ "" | appCurrency }}
          </div>
          <div
            class="indicator"
            [ngClass]="
              summary?.TotalRealPriceDiff
                ? summary?.TotalRealPriceDiff?.startsWith('+')
                  ? 'success'
                  : 'danger'
                : 'basic'
            "
          >
            <nb-icon
              pack="eva"
              [status]="
                summary?.TotalRealPriceDiff
                  ? summary?.TotalRealPriceDiff?.startsWith('+')
                    ? 'success'
                    : 'danger'
                  : 'basic'
              "
              [icon]="
                summary?.TotalRealPriceDiff
                  ? summary?.TotalRealPriceDiff?.startsWith('+')
                    ? 'trending-up-outline'
                    : 'trending-down-outline'
                  : 'minus-outline'
              "
            ></nb-icon>
            {{ summary?.TotalRealPriceDiff }}%
          </div>
        </div>
        <div class="position-relative summary-card">
          <nb-badge
            [dotMode]="true"
            position="top end"
            [status]="
              summary?.TotalPaidPriceDiff
                ? summary?.TotalPaidPriceDiff?.startsWith('+')
                  ? 'success'
                  : 'danger'
                : 'basic'
            "
          ></nb-badge>
          <div class="fw-600 mb-1">{{ getString("calculatedSumPaid") }}</div>
          <div class="fw-600 h6 m-0">
            {{ summary?.TotalPaidPrice }}
            <span *ngIf="!summary?.TotalPaidPrice">0</span> {{ "" | appCurrency }}
          </div>
          <div
            class="indicator"
            [ngClass]="
              summary?.TotalPaidPriceDiff
                ? summary?.TotalPaidPriceDiff?.startsWith('+')
                  ? 'success'
                  : 'danger'
                : 'basic'
            "
          >
            <nb-icon
              pack="eva"
              [status]="
                summary?.TotalPaidPriceDiff
                  ? summary?.TotalPaidPriceDiff?.startsWith('+')
                    ? 'success'
                    : 'danger'
                  : 'basic'
              "
              [icon]="
                summary?.TotalPaidPriceDiff
                  ? summary?.TotalPaidPriceDiff?.startsWith('+')
                    ? 'trending-up-outline'
                    : 'trending-down-outline'
                  : 'minus-outline'
              "
            ></nb-icon>
            {{ summary?.TotalPaidPriceDiff }}%
          </div>
        </div>
        <div class="mt-1 d-flex justify-content-end">
          <button
            *ngIf="calculations.length > 0"
            nbButton
            ghost
            status="primary"
            shape="round"
            (click)="calculationSummaryDetailsClick()"
            size="small"
          >
            {{ getString("summaryDetails") }}
            <nb-icon pack="eva" icon="external-link-outline"></nb-icon>
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
