::ng-deep sample-calculation {
    height: 100%;
}

.calculation-card {
    nb-card-header {
        border: none;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        nb-select {
            width: 150px;
        }
    }
}

::ng-deep ngx-smart-table-tag {
    nb-tag {
        border: none;
        border-radius: 0;
    }
}