<sample-no-data
  *ngIf="mainSource.length == 0"
  [title]="getString('noData')"
></sample-no-data>
<div class="row h-100" *ngIf="mainSource.length > 0">
  <div class="col-md-3 p-0 h-100" *ngIf="showSidepanel">
    <nb-card class="h-100">
      <nb-card-header> {{ getString("peopleWithoutRoom") }} </nb-card-header>
      <nb-card-body
        id="no-room"
        cdkDropList
        [cdkDropListData]="noRoomPersons"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="getConnectedTo()"
      >
        <div class="row m-0" *ngFor="let person of noRoomPersons">
          <ngx-tag
            cdkDrag
            [cdkDragData]="person"
            [icon]="person.GenderId == 2 ? 'fas fa-female' : 'fas fa-male'"
            [text]="person.FirstName + ' ' + person.LastName"
            shape="round"
            class="mb-2"
          ></ngx-tag>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <div class="form-group">
          <div class="label d-flex align-items-center">
            {{ getString("allowDifferentGenderPersonsInRoom") }}
            <nb-toggle
              class="ms-2"
              name="allowDifferenGenders"
              [(checked)]="allowDifferentGenders"
              (checkedChange)="allowDifferenGendersChange()"
            ></nb-toggle>
            <button
              nbButton
              ghost
              status="info"
              class="ms-2"
              size="small"
              shape="round"
              [nbPopover]="statusInformationPopover"
              nbPopoverTrigger="click"
              nbPopoverPlacement="top"
            >
              <nb-icon pack="eva" icon="info-outline"></nb-icon>
            </button>
          </div>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col pe-0 pb-0 h-100 floors" style="position: relative">
    <button
      nbButton
      status="basic"
      shape="round"
      class="toggle-btn"
      (click)="toggleSidepanel()"
    >
      <nb-icon
        pack="eva"
        [icon]="
          showSidepanel ? 'chevron-left-outline' : 'chevron-right-outline'
        "
        status="primary"
      ></nb-icon>
    </button>
    <div class="h-100 overflow-auto">
      <div
        class="row"
        style="height: calc(100% - 1rem)"
        *ngFor="let floor of mainSource"
      >
        <nb-card class="m-0 h-100 pb-2">
          <nb-card-header>
            {{ floor?.Name }}
          </nb-card-header>
          <nb-card-body>
            <div class="ground-plan-container">
              <div
                class="room"
                *ngFor="let r of floor?.Rooms"
                [style.height]="r.Height + 'px'"
                [style.width]="r.Width + 'px'"
                [style.top]="r.Top + 'px'"
                [style.left]="r.Left + 'px'"
              >
                <div
                  class="room-inside"
                  cdkDropList
                  [cdkDropListEnterPredicate]="checkCanDropInList"
                  [id]="'drop-room-' + r.Id"
                  [cdkDropListConnectedTo]="getConnectedTo()"
                  [cdkDropListData]="[r]"
                  (cdkDropListDropped)="drop($event)"
                >
                  <div class="room-name">{{ r.Name }}</div>
                  <div class="room-persons">
                    <ngx-tag
                      *ngFor="let person of r.People"
                      cdkDrag
                      shape="round"
                      [cdkDragData]="person"
                      [icon]="
                        person.GenderId == 2 ? 'fas fa-female' : 'fas fa-male'
                      "
                      [text]="person.FirstName + ' ' + person.LastName"
                    ></ngx-tag>
                  </div>
                  <div
                    class="room-capacity"
                    [ngClass]="
                      r.Capacity == 0
                        ? ''
                        : r.Capacity == r.TakenSpace
                        ? 'text-danger'
                        : 'text-success'
                    "
                  >
                    <nb-icon
                      pack="eva"
                      icon="people-outline"
                      [status]="
                        r.Capacity == 0
                          ? 'primary'
                          : r.Capacity == r.TakenSpace
                          ? 'danger'
                          : 'success'
                      "
                    ></nb-icon>
                    {{ r.TakenSpace }}/{{ r.Capacity }}
                  </div>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>

<ng-template #statusInformationPopover>
  <nb-card class="m-0 card-no-border">
    <nb-card-body>
      <div class="row m-0">
        <div class="col-md-1">
          <nb-icon
            pack="eva"
            icon="info-outline"
            status="info"
            class="info-icon-status"
          ></nb-icon>
        </div>
        <div class="col-md-11">
          <div class="line-divider p-2">
            {{ getString("caution") }}
          </div>
          <div class="p-2" style="width: 300px">
            {{ getString("allowDifferentGenderPersonsInRoomDescription") }}
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>
