<nb-card size="giant">
    <nb-card-header>
        Smart-table postavke
    </nb-card-header>
    <nb-card-body>
        <nb-tabset>
            <nb-tab tabTitle="Inputi">
                <sample-inputs [items]="inputItems"></sample-inputs>
            </nb-tab>
            <nb-tab tabTitle="Outputi">
                <sample-inputs [items]="outputItems"></sample-inputs>
            </nb-tab>
            <nb-tab tabTitle="Metode">
                <sample-inputs [items]="methodsItems"></sample-inputs>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
</nb-card>