<div class="row w-100">
    <div class="col-md-2">
        <div class="label">
            ID
        </div>
        <input nbInput fullWidth placeholder="ID" type="number" [(ngModel)]="id" name="id" [disabled]="isNew">
    </div>
    <div class="col-md-10">
        <div class="label">
            Full name
        </div>
        <input nbInput fullWidth placeholder="Full name" type="text" [(ngModel)]="name" name="name">
    </div>
</div>
<div class="row w-100">
    <div class="col-md-6">
        <div class="label">
            Username
        </div>
        <input nbInput fullWidth placeholder="Username" type="text" [(ngModel)]="username" name="username">
    </div>
    <div class="col-md-6">
        <div class="label">
            E-mail
        </div>
        <input nbInput fullWidth placeholder="E-mail" type="text" [(ngModel)]="email" name="email">
    </div>
</div>
<div class="row w-100 justify-content-end">
    <button nbButton hero status="primary" shape="round" style="width: max-content;"
        (click)="onClickSpremi()">Spremi</button>
</div>