<div class="dashboard-container h-100">
  <div class="row h-100">
    <div class="col-md-8 ps-0 first-box">
      <div class="row first-row">
        <div class="col-md-4 h-100 ps-0 overflow-auto">
          <div class="row">
            <nb-card class="m-0 summary-card">
              <nb-card-body>
                <div class="row mb-2">
                  <div class="w-max">
                    <nb-icon
                      pack="eva"
                      icon="people-outline"
                      status="primary"
                      size="large"
                    ></nb-icon>
                  </div>
                  <div class="col">
                    {{ summary?.TakenSpace }} / {{ summary?.Capacity }}
                  </div>
                </div>
                <div class="row">
                  <nb-progress-bar
                    [value]="progressValue"
                    status="primary"
                    [displayValue]="true"
                  ></nb-progress-bar>
                </div>
              </nb-card-body>
            </nb-card>
          </div>

          <div class="row mt-2">
            <nb-card class="m-0 summary-card">
              <nb-card-body>
                <div class="row label mb-2 ps-2">
                  {{ getString("oldestPerson") }}
                </div>
                <div class="row">
                  <div class="w-max">
                    <nb-icon
                      pack="eva"
                      icon="person-outline"
                      status="primary"
                    ></nb-icon>
                  </div>
                  <div class="col d-block" *ngIf="oldestPerson">
                    <div class="value">
                      {{ oldestPerson?.FirstName }} {{ oldestPerson?.LastName }}
                    </div>
                    <div class="value">
                      {{ oldestPerson?.BirthDate | date : "dd.MM.yyyy." }} ({{
                        oldestPerson?.Years
                      }})
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>

          <div class="row mt-2">
            <nb-card class="m-0 summary-card">
              <nb-card-body>
                <div class="row label mb-2 ps-2">
                  {{ getString("longestPerson") }}
                </div>
                <div class="row">
                  <div class="w-max d-flex align-items-center">
                    <nb-icon
                      pack="eva"
                      icon="person-done-outline"
                      status="primary"
                    ></nb-icon>
                  </div>
                  <div class="col d-block" *ngIf="longestPerson">
                    <div class="value">
                      {{ longestPerson?.FirstName }}
                      {{ longestPerson?.LastName }}
                    </div>
                    <div class="value">
                      {{ longestPerson?.StartDate | date : "dd.MM.yyyy." }}
                    </div>
                    <div class="value">
                      {{ longestPerson?.PassedTime?.years }}
                      {{ getString("longestPersonYears") }},
                      {{ longestPerson?.PassedTime?.months }}
                      {{ getString("longestPersonMonths") }},
                      {{ longestPerson?.PassedTime?.days }}
                      {{ getString("longestPersonDays") }}
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
        </div>

        <div class="col-md-4 h-100 ps-0">
          <nb-card class="mb-0 h-100 round-card">
            <nb-card-body class="position-relative p-1">
              <div
                echarts
                [options]="genderPieOptions"
                class="echart-dash"
              ></div>
            </nb-card-body>
          </nb-card>
        </div>

        <div class="col-md-4 h-100 ps-0 pe-0">
          <nb-card class="mb-0 h-100 round-card">
            <nb-card-body class="position-relative p-1">
              <div
                echarts
                [options]="activePersonsBarOptions"
                class="echart-dash"
              ></div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>

      <div class="row second-row">
        <div class="col-md-4 h-100 ps-0">
          <nb-card class="mb-0 h-100 round-card">
            <nb-card-body>
              <div class="row male-female-chart">
                <div class="col-12">
                  <div class="title">
                    {{ getString("employeesByGender") }}
                  </div>
                </div>
                <div class="col">
                  <div>
                    <i
                      style="color: #197189"
                      class="fas fa-female"
                      [ngClass]="
                        employeesByGender?.FemaleEmployees >
                        employeesByGender?.MaleEmployees
                          ? 'large'
                          : ''
                      "
                    ></i>
                  </div>
                  <div class="break"></div>
                  <div class="fw-600">
                    {{ employeesByGender?.FemaleEmployees }}
                  </div>
                  <div class="break"></div>
                  <div class="label">
                    {{ getString("female") }}
                  </div>
                </div>
                <div class="col">
                  <div>
                    <i
                      style="color: #33b9bf"
                      class="fas fa-male"
                      [ngClass]="
                        employeesByGender?.FemaleEmployees <
                        employeesByGender?.MaleEmployees
                          ? 'large'
                          : ''
                      "
                    ></i>
                  </div>
                  <div class="break"></div>
                  <div class="fw-600">
                    {{ employeesByGender?.MaleEmployees }}
                  </div>
                  <div class="break"></div>
                  <div class="label">
                    {{ getString("male") }}
                  </div>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>

        <div class="col-md-4 h-100 ps-0">
          <nb-card class="mb-0 h-100 round-card">
            <nb-card-body>
              <div class="semi-primary-card h-100 w-100 position-relative">
                <div class="row h-100">
                  <div class="w-50">
                    <div class="label">
                      {{ getString("currentEmployees") }}
                    </div>
                    <div class="card-value">
                      {{ allTimeEmployees?.CurrentEmployees }}
                    </div>
                  </div>
                  <div class="divider"></div>
                  <div class="w-50">
                    <div class="label">
                      {{ getString("totalEmployees") }}
                    </div>
                    <div class="card-value">
                      {{ allTimeEmployees?.AllTimeEmployees }}
                    </div>
                  </div>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>

        <div class="col-md-4 h-100 ps-0 pe-0">
          <nb-card class="mb-0 h-100 round-card">
            <nb-card-body>
              <div class="title">
                {{ getString("employeesByJobPosition") }}
              </div>
              <div
                class="row mt-2"
                *ngFor="let e of employeesByJobPosition"
                [nbPopover]="jobPositonTemplate"
                nbPopoverTrigger="hint"
              >
                <div class="col-2">
                  <i [class]="e.JobPositionIcon + ' card-font8-icon m-0'"></i>
                </div>
                <div class="col-10">
                  <nb-progress-bar
                    [value]="
                      (e.NumberOfEmployees /
                        allTimeEmployees?.CurrentEmployees) *
                      100
                    "
                  ></nb-progress-bar>
                </div>
                <ng-template #jobPositonTemplate>
                  <div class="p-3" style="width: 300px">
                    {{ getString("jobPosition") }}: {{ e.JobPositionName }},
                    {{ getString("numberOfEmployees") }}:
                    {{ e.NumberOfEmployees }}
                  </div>
                </ng-template>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>

    <div class="col-md-4 h-100 pe-0 ps-0">
      <nb-card class="mb-0 h-100 round-card events-card">
        <nb-card-body class="ps-2 pe-2">
          <div class="row mb-3">
            <div class="col position-relative">
              <nb-tag
                class="semi-tag"
                [text]="today | date : 'LLLL'"
                status="primary"
                appearance="outline"
              ></nb-tag>
              <div class="title">
                {{ getString("events") }}
              </div>
            </div>
            <div class="w-max label">
              <nb-icon
                pack="eva"
                icon="calendar-outline"
                status="basic"
                class="me-1"
              ></nb-icon>
              {{ today | date : "EEEE, dd.MM.yyyy." }}
            </div>
          </div>
          <div class="events-container">
            <div *ngFor="let event of events">
              <div *ngIf="event?.Id == nextEvent?.Id" class="row mt-2 mb-2">
                <div class="col d-flex align-items-center ps-0">
                  <div class="line"></div>
                </div>
                <div class="w-max d-flex">
                  <div class="text-primary fw-600">
                    {{ getString("nextEvents") }}
                  </div>
                  <nb-icon
                    pack="eva"
                    icon="arrowhead-down-outline"
                    class="ms-2"
                    status="primary"
                  ></nb-icon>
                </div>
                <div class="col d-flex align-items-center pe-0">
                  <div class="line"></div>
                </div>
              </div>
              <div
                class="dashboard-event"
                [ngClass]="event.Color"
                [id]="'dashboard-event-' + event?.Id"
                [style.background-color]="hexToRgbA(event.Color)"
              >
                <div class="date label">
                  {{ event.Start | date : "EEEE, dd. MMMM" }} -
                  {{ event.End | date : "EEEE, dd. MMMM" }}
                </div>
                <div class="title" [style.color]="event.Color">
                  {{ event.Title }}
                </div>
                <div class="description">{{ event.Description }}</div>
              </div>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer class="d-flex justify-content-end">
          <button
            nbButton
            size="small"
            status="primary"
            shape="round"
            (click)="goToEvents()"
          >
            {{ getString("allEvents") }}
          </button>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>
</div>
