@import '../../@theme/styles/themes';

::ng-deep ngx-dashboard {
    height: 100%;
}

@include nb-install-component {
    .summary-card {
        border-radius: 1rem;

        nb-card-body {
            padding: 0.5rem;

            .col {
                font-weight: 600;
                font-size: 20px;
                display: flex;
                align-items: center;
            }

            nb-icon {
                font-size: 30px;
            }

            .value {
                font-size: 14px;
            }
        }

    }

    .dashboard-event.warning {
        background-color: nb-theme(color-warning-transparent-200);

        .title {
            color: nb-theme(color-warning-500);
        }
    }

    .dashboard-event.info {
        background-color: nb-theme(color-info-transparent-200);

        .title {
            color: nb-theme(color-info-500);
        }
    }

    .dashboard-event.danger {
        background-color: nb-theme(color-danger-transparent-200);

        .title {
            color: nb-theme(color-danger-500);
        }
    }

    .dashboard-event.success {
        background-color: nb-theme(color-success-transparent-200);

        .title {
            color: nb-theme(color-success-500);
        }
    }

    .events-card {
        nb-tag.semi-tag {
            position: absolute;
            border-left: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            left: -10px;
            top: -5px;
        }

        .title {
            padding-top: 2.5rem;
            font-weight: 600;
            font-size: 20px;
        }
    }

    .events-container {
        padding: 0rem 1rem;
        height: calc(100% - 5rem);
        overflow: auto;

        .dashboard-event {
            height: max-content;
            margin-bottom: 0.5rem;
            border-top-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            padding: 1rem;

            .title {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                font-size: 18px;
            }

            .date {
                text-align: end;
            }

            .description {
                font-size: 12px;
            }
        }

        .line {
            border-bottom: 1px solid nb-theme(color-primary-500);
            width: 100%;
        }
    }
}

.echart-dash {
    height: 100% !important;
}

::ng-deep .echart-dash div {
    top: -20px !important;
}

.round-card {
    border-radius: 1rem;
}