::ng-deep sample-new-person {
  height: 100%;
}

::ng-deep nb-stepper .step-content {
  padding-left: 5rem !important;
  position: relative;
  width: 100%;
}

.stepper-footer {
  position: absolute;
  bottom: 0;
  right: 0;
}

.stepper-body {
  height: calc(100% - 75px);
  overflow: auto;
}

.offer-dialog-card {
  height: 700px;
  width: 1200px;
}
