<nb-card size="giant">
    <nb-card-header>
        Select-grid
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-4">
                <div class="label mb-2">Osoba:</div>
                <ngx-select-grid [columns]="columns" [source]="source" [valueAttr]="'id'" [multiple]="false"
                    [(selected)]="selectedKeys" [attributesForLabel]="['name', 'lastname']"
                    (onSelectionChanged)="onSelectionChange($event)"></ngx-select-grid>
            </div>
            <div class="col-md-4">
                <div class="label mb-2">Osoba:</div>
                <ngx-select-grid [columns]="columns" [source]="source" [valueAttr]="'id'" [multiple]="true"
                    [(selected)]="selectedKeys2" [attributesForLabel]="['name']" [searchEnabled]="true"
                    (onSelectionChanged)="onSelectionChange($event)"></ngx-select-grid>
            </div>
        </div>
    </nb-card-body>
</nb-card>