.person-card:hover {
  cursor: pointer;
}

::ng-deep sample-persons {
  overflow: hidden;
}

.content-container {
  height: calc(100% - 2.5rem);
}

#cards {
  height: calc(100% - 5rem);
  overflow: auto;
}
